upstream {{ item.key }} {
{% for server in groups.webserver %}
  server {{hostvars[server]['ansible_host']}}:{{ item.value.backend }};
{% endfor %}
}


server {
  listen {{ item.value.frontend }};
  location / {
    proxy_pass http://{{item.key}}; 
  }
}